/*a{*/
/*    color:#000 !important;*/
/*}*/
#rating_group:not(:checked) > input {
    display: none;
}

#rating_group:not(:checked) > label {
    float: right;
    width: 16px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    color: #cccccc;
    margin-left: 10px;
}

#rating_group:not(:checked) > label:before {
    content: '\e9d9';
    font-family: 'mei-focuspoint';
    font-size: 16px;
}

#rating_group > input:checked ~label {
    color: #f2b309;
    /*color: green;*/
}

#rating_group:not(:checked) > label:hover,
#rating_group:not(:checked) > label:hover ~ label {
    color: #f2b309;
    /*color: red;*/
}

#rating_group > input:checked + label:hover,
#rating_group > input:checked + label:hover ~ label,
#rating_group > input:checked ~ label:hover,
#rating_group > input:checked ~ label:hover ~ label,
#rating_group > label:hover ~ input:checked ~ label {
    color: #f2b309;
}

.section-homepage .actions{text-align:center;margin-top:40px}.section-homepage .actions .view-all{background:#333;color:#fff;padding:0 20px;height:40px;line-height:40px;border-radius:20px;border-color:transparent;width:100%;max-width:180px;display:block;margin:0 auto}.section-homepage .actions .view-all:hover{background-color:orange}.section-home-banner .banner-image{width:100%}.section-home-banner .column-left,.section-home-banner .column-right,.section-home-banner .column-right-1,.section-home-banner .column-right-2{max-width:50%}.section-home-banner .column-left,.section-home-banner .column-right{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}.section-home-banner .column-left .banner-1,.section-home-banner .column-left .banner-2{max-width:50%}.section-home-banner .column-left .banner-3{max-width:100%}.section-home-banner .column-left .banner-3 .banner-image{width:100%}.section-home-banner .column-right .column-right-2{color:#fff;background-color:#333;width:100%}.section-feature-products{background-color:#f5f0e9}
