.page-title {
    margin: 30px 0;
}
.title {
    margin: 0;
}
.blog-info {
    margin: 10px 0;
}
.blog-link-list {
    padding: 0 20px 20px;
    background: #f1f1f1;
}
.blog-link-list .block-title {
    font-weight: 600;
    font-size: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}
.blog-link-list .item {
    margin-bottom: 10px;
}
